@import '../../styles/variables.scss';

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(0);
  transition: background-color $duration;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include small-screen{
    position: absolute;
  }
  
  // header
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    position: relative;
    @include min-medium-screen {
      padding: 30px 30px;
    }
  }
  
  // logo
  .main-logo {
    position: relative;
    background-size: contain;
    transition: background-color 500ms;
    z-index: 90;
    display: flex;
    align-items: center;
    width: 173px;
    height: 40px;
    
    @include min-medium-screen {
      width: 303px;
      height: 78.752px;
    }
    @include large-screen {
      width: 350px;
    }
    @include x-large-screen {
      width: 433px;
    }
    
    picture {
      display: block;
      width: 100%;
      height: 100%;
    }
    
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
    svg {
      @include max-medium-screen {
        path {
          fill: $white-color;
        }
      }
    }
  }
  
  // burger menu
  .burger-menu {
    width: 20px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include min-medium-screen {
      display: none;
    }
    
    &:focus {
      outline: none !important;
    }
    
    div {
      flex-shrink: 0;
      display: block;
      width: 100%;
      height: 2px;
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: $white-color;
      
      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
      }
      
      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }
      
      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }
      
      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }
      
      margin: 0 auto;
    }
    
    &:hover {
      div {
        
        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
          
          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }
        
        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
        
      }
    }
  }
  
  .burger-menu-active {
    div {
      color: $lime;
    }
  }
  
  // links
  .navbar {
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    @include max-medium-screen {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      transition: transform 300ms ease-in;
    }
    
    
    &.header-links-active {
      transform: translateX(0);
      
      &:before {
        opacity: 0.6;
      }
    }
  }
  
  .navbar-wrapper {
    background: $spinach;
    width: 100%;
    height: 100vh;
    transition: padding $duration;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 164px 101px;
    padding-inline: 20px;
    @include min-medium-screen {
      display: flex;
      flex-direction: row;
      gap: 30px;
      padding: 0;
      background-color: transparent;
      width: auto;
      height: auto;
      overflow: visible;
    }
    @include large-screen{
      gap: 40px;
    }
  }
  
  .primary-menu {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 25px;
    @include min-medium-screen {
      align-items: center;
      flex-direction: row;
      gap: 30px;
      margin-bottom: 0;
    }
    @include large-screen{
      gap: 40px;
    }
  }
  
  .menu-item {
    position: relative;
    
    .header-link {
      text-transform: capitalize;
      color: $lime;
      font-family: $tomato;
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      display: block;
      transition: color $duration;
      
      svg {
        path {
          fill: currentColor;
        }
      }
      
      &:hover {
        color: $off-white-color;
      }
      
      @include min-medium-screen {
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }
    }
    
    .home-url {
      display: flex;
      align-items: center;
      gap: 9px;
      
      svg {
        width: 20px;
        height: 15.449px;
      }
      
      @include min-medium-screen {
        display: none;
      }
    }
    
    &.menu-item-has-children {
      
      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        transform-origin: 50% 50%;
        width: 12px;
        height: 28px;
        right: 0;
        transition: transform $duration;
        
        
        @include large-screen {
          display: none;
        }
      }
      
      .menu-item-in-sub-menu {
        
        &.active-page-sublink {
        
        }
      }
      
      &.menu-item-active {
        .arrow {
          transform: scaleY(-1);
        }
      }
      
    }
  }
  
  .bottom-content {
    display: block;
    max-width: 400px;
    margin-inline: auto;
    @include min-medium-screen {
      display: none;
    }
    
    .cta-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 21px;
    }
    
    .bottom-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      flex-wrap: wrap;
      
      .link {
        color: $lime;
        text-align: center;
        font-family: $tomato;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-decoration-line: underline !important;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        transition: color $duration;
        
        &:hover {
          color: $off-white-color;
        }
        
      }
    }
    
    .social-icons {
      display: flex;
      align-items: center;
      gap: 32px;
      width: fit-content;
      margin-inline: auto;
      margin-top: 29px;
      
      a {
        display: block;
        width: 15px;
        height: 15px;
        color: $lime;
        transition: color $duration;
        
        svg {
          width: 100%;
          height: 100%;
          
          path {
            fill: currentColor;
          }
        }
        
        &:hover {
          color: $off-white-color;
        }
      }
    }
  }
  
  .contactUS-btn, .join-us-btn {
    display: none;
    &.desktop-only {
      @include min-medium-screen {
        display: flex;
      }
    }
    
    &.mobile-only {
      display: flex;
      min-width: 163px;
      border: 0.5px solid $lime;
    }

  }
  

  
  &.header-active {
    .main-logo {
      svg {
        path {
          fill: $lime;
        }
      }
    }
    
  }
}
