@import '../../styles/variables.scss';

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(0);
  transition: background-color $duration;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  // header
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    position: relative;
    @include min-medium-screen {
      padding: 30px 30px;
    }
  }
  
  // logo
  .main-logo {
    position: relative;
    background-size: contain;
    transition: background-color 500ms;
    z-index: 90;
    display: flex;
    align-items: center;
    width: 170px;
    height: 40px;
    @include large-screen {
      width: 433px;
      height: 78.752px;
    }
    
    picture {
      display: block;
      width: 100%;
      height: 100%;
    }
    
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
    svg {
      @include max-medium-screen {
        path {
          fill: $white-color;
        }
      }
    }
  }
  
  // burger menu
  .burger-menu {
    width: 20px;
    height: 14px;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;
    
    &:focus {
      outline: none !important;
    }
    
    span {
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 3px;
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: $white-color;
      
      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
        border-radius: 10px;
      }
      
      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }
      
      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }
      
      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }
      
      &:last-child {
        margin: 0 auto;
      }
      
      &:first-child {
        margin: 0 auto 3px;
      }
    }
    
    display: none;
    
    &:hover {
      span {
        
        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
          
          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }
        
        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
        
      }
    }
    
    @media screen and (max-width: 767.8px) {
      display: block;
    }
    
  }
  
  // links
  .navbar {
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    
    @media screen and (max-width: 767.8px) {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      transition: transform 300ms ease-in;
    }
    
    &.header-links-active {
      transform: translateX(0);
      
      &:before {
        opacity: 0.6;
      }
    }
  }
  
  .navbar-wrapper {
    background: $spinach;
    width: 100%;
    height: 100vh;
    transition: padding $duration;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 204px 22px;
    padding-inline: 20px;
    @include min-medium-screen {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding: 0;
      background-color: transparent;
      width: auto;
      height: auto;
      overflow: visible;
    }
  }
  
  .primary-menu {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 25px;
    @include min-medium-screen {
      align-items: center;
      flex-direction: row;
      gap: 40px;
      margin-bottom: 0;
    }
  }
  
  .menu-item {
    position: relative;
    
    .header-link {
      text-transform: capitalize;
      color: $lime;
      font-family: $tomato;
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      display: block;
      transition: color $duration;
      
      svg {
        path {
          fill: currentColor;
        }
      }
      
      &:hover {
        color: $off-white-color;
      }
      
      @include min-medium-screen {
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }
    }
    
    .home-url {
      display: flex;
      align-items: center;
      gap: 9px;
      
      svg {
        width: 20px;
        height: 15.449px;
      }
      
      @include min-medium-screen {
        display: none;
      }
    }
    
    .cta-button {
      padding-inline: 20px;
      min-width: 190px;
      font-size: 16px;
      padding-block: 12px;
      @media screen and (min-width: 768px) {
        min-width: 140px;
      }
      @include min-medium-screen {
        min-width: 150px;
        font-size: 24px;
      }
      @include xx-large-screen {
        min-width: 180px;
        padding: 19px 34.9px;
      }
    }
    
    &.menu-item-has-children {
      
      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        transform-origin: 50% 50%;
        width: 12px;
        height: 28px;
        right: 0;
        transition: transform $duration;
        
        
        @include large-screen {
          display: none;
        }
      }
      
      .menu-item-in-sub-menu {
        
        &.active-page-sublink {
        
        }
      }
      
      &.menu-item-active {
        .arrow {
          transform: scaleY(-1);
        }
      }
      
      @include media-screen-768 {
        &:hover {
          .sub-menu {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
  
  
  .cta-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contactUS-btn {
    background-color: transparent;
    color: $lime;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    min-width: 120px;
    border: 1px solid $lime;
    display: none;
    
    &.desktop-only {
      @include min-medium-screen {
        display: flex;
      }
    }
    
    &.mobile-only {
      display: flex;
      min-width: 163px;
      border: 0.5px solid $lime;
    }
    
    &:hover {
      color: $spinach;
      background-color: $lime;
    }
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    gap: 32px;
    width: fit-content;
    margin-inline: auto;
    margin-top: 29px;
    
    a {
      display: block;
      width: 15px;
      height: 15px;
      color: $lime;
      transition: color $duration;
      
      svg {
        width: 100%;
        height: 100%;
        
        path {
          fill: currentColor;
        }
      }
      
      &:hover {
        color: $off-white-color;
      }
    }
  }
}
