@import '../../styles/variables';

.how_we_do_it_block {
  padding-block: 40px;
  
  .content-wrapper {
    padding-block: 60px;
    background-color: deepskyblue;
    
    @include x-large-screen {
      padding-inline: 233px 97px;
      
    }
    
    .label {
      margin-bottom: 23px;
    }
    
    .main-title {
      color: $spinach;
      max-width: 663px;
      margin-bottom: 18px;
      @include media-screen-768 {
        margin-bottom: 59px;
      }
    }
    
    .accordion {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .accordion-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 500ms;
    }
    
    .accordion-content[aria-hidden="false"] {
      grid-template-rows: 1fr;
    }
    
    .accordion-content > div {
      overflow: hidden;
    }
    
    
    .accordion-panel {
      cursor: pointer;
      background-color: $off-white-color;
      padding-block: 18px;
      padding-inline: 19px 13px;
      border-radius: 15px;
      transition: background-color $duration;
      
      .accordion-title {
        position: relative;
        
        span {
          font-family: $tomato;
          color: $spinach;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 133.333%;
          transition: color $duration;
        }
      }
      
      .answer {
        
        .description p {
          color: $off-white-color;
          font-family: $halyard;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 125%;
          min-height: 67px;
          margin-bottom: 9px;
        }
        
        .spacer {
          height: 7px;
        }
      }
      
      &.active {
        background-color: $spinach;
        
        .accordion-title span {
          color: $off-white-color;
        }
      }
    }
    
    .accordion-trigger {
      background-color: transparent;
      outline: none;
      border: none;
      max-width: 90%;
      cursor: pointer;
      text-align: left;
    }
    
    .accordion-trigger .toggle-open {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      transition: transform $duration, border-color $duration;
      width: 30px;
      height: 30px;
      border: 1px solid $spinach;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      
      @include media-screen-768 {
        width: 25px;
        height: 25px;
      }
      
      svg {
        width: 11px;
        height: 11px;
        
        line {
          stroke: $spinach;
        }
      }
      
      .vertical-line {
        transform: scaleY(1);
        transform-origin: 50% 50%;
        transition: transform $duration;
      }
    }
    
    .svg-border {
      width: 24px;
      height: 24px;
      border: 2px solid deepskyblue;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    
    .accordion-trigger[aria-expanded="true"] .toggle-open {
      border-color: $off-white-color;
      
      svg {
        line {
          stroke: $off-white-color !important;
        }
      }
      
      .vertical-line {
        transform: scaleY(0);
      }
    }
  }
}

