@import '../../styles/variables';

.how_we_do_it_block {
  padding-block: 45px 40px;
  @include min-medium-screen {
    padding-block: 40px 50px;
  }
  
  .content-wrapper {
    
    @include large-screen {
      padding-inline: 180px 97px;
      padding-block: 60px;
    }
    @include x-large-screen {
      padding-inline: 233px 97px;
    }
    
    
    .label {
      margin-bottom: 23px;
    }
    
    .main-title {
      color: $spinach;
      max-width: 450px;
      margin-bottom: 10px;
      @include min-medium-screen {
        margin-bottom: 59px;
        max-width: 590px;
      }
      @include large-screen {
        max-width: 663px;
      }
    }
    
    .accordion {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .accordion-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 500ms;
    }
    
    .accordion-content[aria-hidden="false"] {
      grid-template-rows: 1fr;
    }
    
    .accordion-content > div {
      overflow: hidden;
    }
    
    .accordion-panel {
      position: relative;
      cursor: pointer;
      background-color: #F4F3DD;
      padding-block: 15px;
      padding-inline: 16px 11px;
      border-radius: 15px;
      transition: background-color $duration;
      justify-content: space-between;
      @include min-medium-screen {
        display: flex;
        padding-block: 18px;
        padding-inline: 19px 13px;
      }
      
      .accordion-title {
        position: relative;
        display: flex;
        align-items: flex-start;
        max-width: 90%;
        
        @include min-medium-screen {
          width: 800px;
          max-width: 800px;
        }
        
        span {
          font-family: $tomato;
          color: $spinach;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 127.778%;
          transition: color $duration;
          @include min-medium-screen {
            font-size: 18px;
            font-weight: 500;
            line-height: 133.333%;
          }
        }
      }
      
      .answer {
        max-width: 300px;
        @include min-medium-screen {
          width: 447px;
          max-width: 447px;
          margin-right: 60px;
        }
        @include large-screen {
          margin-right: 92px;
        }
        
        .description p {
          color: $spinach;
          font-family: $halyard;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 125%;
          
          @include min-medium-screen {
            color: $off-white-color;
          }
          
          &:not(:last-child) {
            margin-bottom: 19px;
          }
        }
        
        .spacer {
          height: 59px;
          @include min-medium-screen {
            height: 6px;
          }
        }
        
        .spacer-2 {
          height: 3px;
          @include min-medium-screen {
            height: 46px;
          }
        }
      }
      
      &.active {
        background-color: $lime;
        
        @include min-medium-screen {
          background-color: $spinach;
        }
        
        .accordion-title span {
          @include min-medium-screen {
            color: $off-white-color;
          }
        }
        
        .toggle-open {
          .vertical-line {
            transform: scaleY(0);
          }
          
          @include min-medium-screen {
            border-color: $off-white-color;
            
            svg {
              line {
                stroke: $off-white-color !important;
              }
            }
          }
        }
      }
    }
    
    .icon-and-title {
      display: flex;
      align-items: center;
      gap: 10px;
      
      .icon-wrapper {
        width: 18px;
        height: 22px;
        display: none;
        @include min-medium-screen {
          display: flex;
          flex-shrink: 0;
        }
        
        img, svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    
    .accordion-trigger {
      background-color: transparent;
      outline: none;
      border: none;
      max-width: 90%;
      cursor: pointer;
      text-align: left;
    }
    
    .toggle-open {
      position: absolute;
      display: flex;
      transition: transform $duration, border-color $duration;
      width: 30px;
      height: 30px;
      border: 1px solid $spinach;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      top: 10px;
      right: 11px;
      @include media-screen-768 {
        width: 25px;
        height: 25px;
        top: 18px;
        right: 21px;
      }
      
      svg {
        width: 11px;
        height: 11px;
        
        line {
          stroke: $spinach;
        }
      }
      
      .vertical-line {
        transform: scaleY(1);
        transform-origin: 50% 50%;
        transition: transform $duration;
      }
    }
    
    .svg-border {
      width: 24px;
      height: 24px;
      border: 2px solid deepskyblue;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
  
  .accordion-panel {
  }
  
}

