@import '../../styles/variables.scss';


footer {
  padding-block: 31px 26px;
  background-color: $spinach;
  @include media-screen-768 {
    padding-block: 61px 23px;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .top-content-wrapper {
    display: flex;
    justify-content: space-between;
    @include media-screen-768 {
      flex-wrap: wrap-reverse;
      align-items: flex-end;
      gap: 20px;
    }
    @include min-media-screen-992 {
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 0;
    }
  }
  
  .left-links-wrapper {
    width: 100%;
    display: flex;
    row-gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
    @include media-screen-768 {
      width: 574px;
    }
    @include large-screen {
      width: 621px;
    }
    
    .column-title, .footer-link {
      color: $lime;
      transition: color $duration;
      text-transform: capitalize;
      
      &:hover {
        color: $off-white-color;
      }
      
    }
    
    .column-title {
      font-family: $tomato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 4px;
      text-transform: capitalize;
      display: block;
    }
    
    .column-wrapper {
      @include max-screen-768 {
        width: 45%;
      }
    }
    
    .links-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    
    .footer-link {
      font-family: $halyard;
    }
  }
  
  .site-logo {
    display: none;
    @include media-screen-768 {
      width: 320px;
      height: 64px;
      flex-shrink: 0;
    }
    @include large-screen {
      width: 571.831px;
      height: 104px;
    }
    
    &.desktop {
      @include media-screen-768 {
        display: block;
      }
    }
    
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .middle-content-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    @include media-screen-600 {
      align-items: flex-start;
    }
    
    .legal-links {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 40px;
      @include media-screen-768 {
        justify-content: flex-start;
        margin-bottom: 0;
        width: 100%;
      }
      @include min-media-screen-992 {
        display: none !important;
      }
    }
    
    @include media-screen-768 {
      margin-top: 95px;
      flex-direction: row;
      align-items: flex-end;
    }
    @include large-screen {
      margin-top: 306px;
    }
    
    .certification_badge {
      display: none;
      @include media-screen-768 {
        display: block;
        width: 88.254px;
        height: 66.66px;
        flex-shrink: 0;
      }
    }
  }
  
  .cta-wrappers {
    display: flex;
    gap: 10px;
    @include media-screen-768 {
      gap: 13px;
    }
  }
  
  .cta-button {
    @include max-screen-768 {
      min-width: 162px !important;
    }
  }
  
  .join-us-btn {
    @include max-screen-768 {
      min-width: 82px;
    }
  }
  
  .bottom-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-block: 54px 79px;
    @include media-screen-768 {
      flex-direction: row;
      margin-top: 60px;
      padding-top: 24px;
      border-top: 0.5px solid $lime;
      margin-bottom: 0;
    }
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    
    .social-icon {
      width: 38px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 0.5px solid $lime;
      transition: border-color $duration;
      
      .icon-wrapper {
        width: 15px;
        aspect-ratio: 1;
      }
      
      &:hover {
        border-color: $off-white-color;
        
        svg path {
          fill: $off-white-color;
        }
      }
    }
    
  }
  
  .legal-links {
    display: none;
    
    @include min-media-screen-992 {
      display: flex !important;
      align-items: center;
      gap: 30px;
    }
    @include large-screen{
      gap: 50px;
    }
    
    
    .link {
      color: $lime;
      font-family: $halyard;
      transition: color $duration;
      
      &:hover {
        color: $off-white-color;
      }
    }
  }
  
  .copyright-notice p {
    color: $lime;
    font-family: $halyard;
  }
  
  .site-logo {
    
    &.mobile {
      display: block;
      width: 331px;
      height: 63px;
      @include media-screen-768 {
        display: none;
      }
    }
  }
}