@import '../../styles/variables.scss';


footer {
  padding-block: 31px 26px;
  @include min-medium-screen {
    padding-block: 32px 23px;
  }
  background-color: $spinach;
  
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .top-content-wrapper {
    display: flex;
    justify-content: space-between;
    
    .left-links-wrapper {
      width: 50%;
      background-color: red;
      height: 150px;
    }
    
    .site-logo {
      width: 571.831px;
      height: 104px;
      flex-shrink: 0;
      
      img, svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .middle-content-wrapper {
    margin-top: 306px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    .certification_badge {
      display: none;
      @include min-medium-screen {
        display: block;
        width: 88.254px;
        height: 66.66px;
        flex-shrink: 0;
      }
    }
  }
  
  .cta-wrappers {
    display: flex;
    gap: 13px;
  }
  
  .join-us-btn {
    min-width: 82px;
  }
}