@import 'variables.scss';

// region fonts here
@font-face {
  font-weight: 400;
  font-family: 'proxima-nova';
  //src: url('fonts/proximanova/proximanova_regular.woff2') format('woff2'),
  //url('fonts/proximanova/proximanova_regular.woff') format('woff');
  font-style: normal;
}


// endregion

html {
  margin-top: 0 !important;
}

body {
  font-family: $proxima_nova !important;
  color: $white-color;
  background-color: $black-color;
  position: relative;
  overflow-x: hidden;
}

h1, .natural-h1, .natural-h1 p {
  color: $white-color;
  font-family: inherit;
  font-size: size(60);
  font-weight: 600;
  line-height: 100%;
  @include min-medium-screen {
    font-size: size(120);
  }
  
}

h2, .natural-h2, .natural-h2 p {
  color: $white-color;
  font-family: inherit;
  font-size: size(40);
  font-weight: 400;
  line-height: 110%;
  @include min-medium-screen {
    font-size: size(80);
  }
}

h3, .natural-h3, .natural-h3 p {
  color: $white-color;
  font-family: inherit;
  font-size: size(32);
  font-weight: 400;
  line-height: 121.8%;
  @include min-medium-screen {
    font-size: size(56);
  }
}

h4, .natural-h4, .natural-h4 p, p {
  color: $white-color;
  font-family: inherit;
  font-size: size(26);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  @include min-medium-screen {
    font-size: size(48);
  }
}

h5, .natural-h5, .natural-h5 p {
  color: $white-color;
  font-family: inherit;
  font-size: size(32);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  @include min-medium-screen {
    font-size: size(40);
  }
}

h6, .natural-h6, .natural-h6 p {
  color: $white-color;
  font-size: size(32);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  @include min-media-screen-992 {
    font-size: size(32);
  }
}

.fz-24, .fz-24 p {
  color: $white-color;
  font-size: size(16);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  @include min-medium-screen {
    font-size: size(24);
  }
}

.fz-28, .fz-28 p {
  color: $white-color;
  font-size: size(16);
  font-style: normal;
  font-weight: 600;
  line-height: 128.57%;
  @include min-medium-screen {
    font-size: size(28);
  }
}

.capitalize-text {
  text-transform: capitalize;
}

.regular, .regular p {
  font-weight: 400;
}

.medium, .medium p {
  font-weight: 600;
}

.bold, .bold p {
  font-weight: 700;
}

.gold {
  color: $gold;
}
