@import 'variables.scss';

// region fonts here
@font-face {
  font-weight: 300;
  font-family: 'Tomato Grotesk';
  src: url('fonts/tomato-grotesk-light.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-weight: 400;
  font-family: 'Tomato Grotesk';
  src: url('fonts/tomato-grotesk-regular.woff2') format('woff2');
  font-style: normal;
}


@font-face {
  font-weight: 500;
  font-family: 'Tomato Grotesk';
  src: url('fonts/tomato-grotesk-medium.woff2') format('woff2');
  font-style: normal;
}


// endregion

html {
  margin-top: 0 !important;
}

body {
  font-family: $tomato, sans-serif;
  color: $white-color;
  background-color: $off-white-color;
  position: relative;
  overflow-x: hidden;
}

h1, .natural-h1, .natural-h1 p {
  color: $spinach;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 105%;
  @include min-medium-screen{
    font-size: 60px;
  }
  @include large-screen {
    font-size: 80px;
  }
  
  &.lh-72 {
    line-height: 105%;
    @include large-screen {
      line-height: 90%;
    }
  }
}

h2, .natural-h2, .natural-h2 p {
  color: $white-color;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 105%;
  @include min-medium-screen {
    font-size: 52px;
  }
  @include large-screen {
    font-size: 72px;
    line-height: 100%;
  }
}

h3, .natural-h3, .natural-h3 p {
  color: $white-color;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 106%;
  @include min-medium-screen {
    font-size: 60px;
  }
}

h4, .natural-h4, .natural-h4 p, {
  color: $white-color;
  font-family: inherit;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  @include min-medium-screen {
    font-size: 52px;
  }
  
}

h5, .natural-h5, .natural-h5 p {
  color: $spinach;
  font-family: inherit;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 336%;
  @include min-medium-screen {
    font-size: 32px;
  }
}

h6, .natural-h6, .natural-h6 p {
  color: $spinach;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.fz-24, .fz-24 p {
  color: $white-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 116%;
  @include min-medium-screen {
    font-size: 24px;
  }
}

.fz-18, .fz-18 p {
  color: $white-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  @include min-medium-screen {
    font-size: 18px;
  }
}

.fz-16, .fz-16 p {
  color: $spinach;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
}

.fz-14, .fz-14 p {
  color: $spinach;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}


.fw-400, .fw-400 p {
  font-weight: 400;
}

.fw-500, .fw-500 p {
  font-weight: 500;
}

.fw-300, .fw-300 p {
  font-weight: 300;
}

.fw-200, .fw-200 p {
  font-weight: 200;
}

.capitalize-text {
  text-transform: capitalize;
}

.uppercase-text {
  text-transform: uppercase;
}

