@import '../../styles/variables';

.three_images_and_text_block {
  background: $off-white-color;
  padding-block: 20px 40px;
  
  @include min-medium-screen {
    padding-block: 40px 80px;
  }
  
  @include x-large-screen {
    padding-top: 0;
  }
  
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    @include media-screen-768 {
      justify-content: space-between;
      flex-direction: row;
    }
    @include x-large-screen {
      padding-block: 80px;
      padding-inline: 80px 48px;
    }
    
    .image-card {
      width: 100%;
      @include media-screen-768 {
        width: 44%;
      }
      @include min-medium-screen {
        width: 47.13%;
      }
      
      .left-image {
        padding-top: 100%;
      }
    }
    
    .right-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      @include media-screen-600 {
        width: 376px;
      }
      @include media-screen-768 {
        width: 50%;
        margin-top: 0;
      }
      @include min-medium-screen {
        width: 42.8%;
        padding-block: 13px 9px;
      }
      
      
      .label {
        margin-bottom: 20px;
      }
      
      .title {
        margin-bottom: 83px;
        max-width: 370px;
        @include media-screen-768 {
          max-width: 313px;
          margin-bottom: 52px;
        }
        
        @include large-screen {
          max-width: 90%;
          margin-bottom: 123px;
        }
        @include x-large-screen {
          max-width: 100%;
        }
      }
      
      .description {
        max-width: 421px;
      }
      
      .cta-button {
        margin-top: 20px;
        width: 100%;
        font-size: 16px;
        min-height: 50px;
        @include media-screen-768 {
          margin-top: 40px;
          font-size: 14px;
          width: fit-content;
          min-height: 38px;
        }
      }
      
    }
  }
}

