@import '../../styles/variables';

.three_images_and_text_block {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: $off-white-color;
  padding-block: 20px 20px;
  @include min-medium-screen {
    padding-block: 81px 0;
  }
  @include x-large-screen {
    padding-top: 0;
  }
  
  
  .big-arrow {
    display: none;
    @include media-screen-768 {
      display: block;
      position: absolute;
      z-index: -1;
      width: 720px;
      height: 339px;
      top: 49px;
      left: -205px;
    }
    @include min-medium-screen {
      z-index: -1;
      width: 840px;
      height: 459px;
      top: 74px;
      left: -152px;
    }
    @include large-screen {
      width: 850px;
      height: 569px;
      top: 50px;
    }
    @include x-large-screen {
      width: 890px;
      height: 679px;
      left: -152px;
      top: 116px;
    }
  }
  
  .cards-wrapper {
    @include media-screen-768 {
      display: flex;
      padding-block: 52px 0;
      justify-content: space-between;
      flex-direction: row;
    }
    @include x-large-screen {
      padding-block: 174px 87px;
      padding-inline: 80px 48px;
    }
    
    .image-card {
      position: relative;
      width: 100%;
      display: none;
      @include media-screen-768 {
        width: 44%;
        display: block;
      }
      @include min-medium-screen {
        width: 47.13%;
      }
      
      .small-image {
        position: absolute;
        bottom: 52px;
        left: 6%;
        width: 170px;
        aspect-ratio: 1;
        @include media-screen-768 {
          aspect-ratio: 1;
          width: 142px;
          bottom: 20px;
          left: 6%;
        }
        @include min-medium-screen {
          width: 170px;
          left: 3%;
        }
        @include large-screen {
          left: 6%;
          width: 204px;
        }
      }
      
      .medium-image {
        position: absolute;
        top: -11px;
        width: 210px;
        aspect-ratio: 1;
        left: 14%;
        @include media-screen-768 {
          aspect-ratio: 1;
          width: 140px;
          position: absolute;
          top: -11px;
          left: 14%;
        }
        @include min-medium-screen {
          width: 210px;
          left: 12%;
        }
        @include large-screen {
          width: 266px;
          left: 14%;
        }
      }
      
      .large-image {
        position: absolute;
        width: 334px;
        aspect-ratio: 1;
        right: -41px;
        top: 130px;
        @include media-screen-768 {
          aspect-ratio: 1;
          width: 187px;
          position: absolute;
          top: 170px;
          right: -10px;
        }
        @include min-medium-screen {
          width: 250px;
          right: -21px;
        }
        @include large-screen {
          width: 334px;
          right: -41px;
        }
      }
      
      .left-image {
        padding-top: 100%;
      }
    }
    
    .swiper-images {
      width: 100vw;
      padding-right: 20px;
      @include media-screen-768 {
        display: none;
      }
    }
    
    .swiper-slide {
      width: 316px !important;
    }
    
    .right-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      @include media-screen-600 {
        width: 376px;
      }
      @include media-screen-768 {
        width: 50%;
        margin-top: 0;
      }
      @include min-medium-screen {
        width: 42.8%;
      }
      @include large-screen {
        width: 45.8%;
      }
      @include x-large-screen {
        width: 42.8%;
      }
      
      .label {
        margin-bottom: 20px;
      }
      
      .title {
        margin-bottom: 83px;
        max-width: 370px;
        @include media-screen-768 {
          max-width: 313px;
          margin-bottom: 52px;
        }
        @include min-medium-screen {
          max-width: 100%;
        }
        @include large-screen {
          max-width: 90%;
          margin-bottom: 146px;
        }
        @include x-large-screen {
          max-width: 100%;
        }
      }
      
      .description {
        max-width: 476px;
      }
      
      .cta-button {
        margin-top: 20px;
        width: 100%;
        font-size: 16px;
        min-height: 50px;
        @include media-screen-768 {
          margin-top: 40px;
          font-size: 14px;
          width: fit-content;
          min-height: 38px;
        }
      }
      
    }
  }
}

