@import '../../styles/variables.scss';

.image_and_text_block {
  padding-bottom: 40px;
  @include min-medium-screen {
    padding-bottom: 80px;
  }
  
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 80px;
    padding-inline: 80px 48px;
    padding-left: 80px;
    @include media-screen-768 {
      justify-content: space-between;
      flex-direction: row;
    }
    
    .image-card {
      width: 100%;
      @include media-screen-768 {
        width: 44%;
      }
      @include min-medium-screen {
        width: 47.13%;
      }
      
      .left-image {
        padding-top: 100%;
      }
    }
    
    .right-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      padding-block: 13px 9px;
      
      @include media-screen-600 {
        width: 376px;
      }
      @include media-screen-768 {
        width: 50%;
        margin-top: 0;
      }
      @include min-medium-screen {
        width: 42.8%;
      }
      
      
      .label {
        margin-bottom: 20px;
      }
      
      .title {
        margin-bottom: 123px;
      }
      
      .description {
        max-width: 443px;
      }
      
      .cta-button {
        margin-top: 40px;
      }
      
    }
  }
}

