@import '../../styles/variables.scss';

.instagram_slider_block {
  padding-block: 40px 21px;
  background-color: $off-white-color;
  
  @include min-medium-screen {
    padding-block: 15px 47px;
    border-radius: 0 0 10px 10px;
  }
  
  .insta-icon {
    width: 23.465px;
    height: 23.474px;
    margin-inline: auto;
    margin-bottom: 19px;
    @include min-medium-screen {
      margin-bottom: 30px;
    }
    
    svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .swiper-wrapper {
  
  }
  
  .swiper-slide {
    width: 220px !important;
    aspect-ratio: 1;
    
    @include min-medium-screen {
      width: 270px !important;
    }
    
    .aspect-ratio {
      padding-top: 100%;
    }
  }
}
